*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vh;
}

.div-dad {
    height: 100px;
    width: 100px;
    background: red;
    position: absolute;
}

.div-son {
    height: 50px;
    width: 50px;
    background: yellow;
}

